<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGraffle</string>
		<string>139.17.0.185490</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {576, 733}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2015-01-30 21:27:29 +0000</string>
	<key>Creator</key>
	<string>Sanjoy Dasgupta</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1.0000 in</string>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{259.00000000000023, 380.66666666666669}, {25, 29}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Courier</string>
				<key>Size</key>
				<real>24</real>
			</dict>
			<key>ID</key>
			<integer>24</integer>
			<key>Shape</key>
			<string>Circle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fmodern\fcharset0 Courier;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs48 \cf0 ?}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>TextRelativeArea</key>
			<string>{{0, 0}, {1, 1}}</string>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>23</integer>
			<key>Points</key>
			<array>
				<string>{261.3333333333365, 258}</string>
				<string>{330.00000000000318, 462.33333333333348}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>HeadArrow</key>
					<string>0</string>
					<key>Legacy</key>
					<true/>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>3</integer>
			<key>Points</key>
			<array>
				<string>{236.66667175292966, 380.66665649414062}</string>
				<string>{408.66666666666669, 324.66666666666669}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0.25098</string>
						<key>g</key>
						<string>0.501961</string>
						<key>r</key>
						<string>0</string>
					</dict>
					<key>HeadArrow</key>
					<string>FilledArrow</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>0</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{187.33333333333306, 375.33333333333371}, {44, 14}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>12</real>
			</dict>
			<key>ID</key>
			<integer>16</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1265\cocoasubrtf210
\cocoascreenfonts1{\fonttbl\f0\fmodern\fcharset0 Courier;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 origin}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{412.0000000000008, 318}, {17, 11}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>12</integer>
			<key>ImageID</key>
			<integer>2</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>LineGraphic</string>
			<key>ID</key>
			<integer>22</integer>
			<key>Points</key>
			<array>
				<string>{237.3333333333332, 393.33333333333348}</string>
				<string>{302, 372.66666666666669}</string>
			</array>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>Color</key>
					<dict>
						<key>b</key>
						<string>0</string>
						<key>g</key>
						<string>0</string>
						<key>r</key>
						<string>1</string>
					</dict>
					<key>HeadArrow</key>
					<string>NegativeControls</string>
					<key>Legacy</key>
					<true/>
					<key>LineType</key>
					<integer>1</integer>
					<key>TailArrow</key>
					<string>NegativeControls</string>
					<key>Width</key>
					<real>2</real>
				</dict>
			</dict>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>8</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict>
			<key>ApplicationURL</key>
			<string>http://pierre.chachatelier.fr/latexit/index.php</string>
			<key>appData</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGeXpYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoK8QGQcIDiYnKzI4OUBBSUpNUFRYWV9i
			ZmltcXZVJG51bGzSCQoLDVpOUy5vYmplY3RzViRjbGFzc6EMgAKA
			GNwPEBESExQVFgoXGBkaGxwdHh8gISIjJCVXcGRmRGF0YVpzb3Vy
			Y2VUZXh0WXBvaW50U2l6ZVhiYXNlbGluZVhwcmVhbWJsZVd2ZXJz
			aW9uXxAPYmFja2dyb3VuZENvbG9yVWNvbG9yVG1vZGVVdGl0bGVU
			ZGF0ZYAEgA8jQDgAAAAAAAAjAAAAAAAAAACABoADgACAEYAXEASA
			FYATVTIuNi4x0igKKSpXTlMuZGF0YU8RMnklUERGLTEuNQol0NTF
			2Ao1IDAgb2JqCjw8Ci9MZW5ndGggMjkgICAgICAgIAovRmlsdGVy
			IC9GbGF0ZURlY29kZQo+PgpzdHJlYW0KeNor5DJUMABCCJmcy6Xv
			lmuo4JLPFcgFAEosBYMKZW5kc3RyZWFtCmVuZG9iagoyIDAgb2Jq
			Cjw8Ci9UeXBlIC9YT2JqZWN0Ci9TdWJ0eXBlIC9Gb3JtCi9CQm94
			IFswIDAgMTcgMTFdCi9Gb3JtVHlwZSAxCi9NYXRyaXggWzEgMCAw
			IDEgMCAwXQovUmVzb3VyY2VzIDggMCBSCi9MZW5ndGggMzcgICAg
			ICAgIAovRmlsdGVyIC9GbGF0ZURlY29kZQo+PgpzdHJlYW0KeNor
			5DJUMABCQwVdQ1MQNjJVSM7l0vfMNVRwyecK5AIAbF4GswplbmRz
			dHJlYW0KZW5kb2JqCjEgMCBvYmoKPDwKL1R5cGUgL1hPYmplY3QK
			L1N1YnR5cGUgL0Zvcm0KL0Zvcm1UeXBlIDEKL1BURVguRmlsZU5h
			bWUgKC92YXIvZm9sZGVycy8zMS85eDRqNDhiOTVfZGZ4cWRsbm1t
			aGIxNGgwMDAwZ24vVC9MYVRlWGlULTIuNi4xL2xhdGV4aXQtMS0y
			LnBkZikKL1BURVguUGFnZU51bWJlciAxCi9QVEVYLkluZm9EaWN0
			IDkgMCBSCi9CQm94IFswIDAgNzQ0IDE1MzldCi9SZXNvdXJjZXMg
			PDwKL1hPYmplY3QgPDwKL0ZtMSAxMCAwIFIKPj4vUHJvY1NldCBb
			IC9QREYgXQo+PgovTGVuZ3RoIDU3Ci9GaWx0ZXIgL0ZsYXRlRGVj
			b2RlCj4+CnN0cmVhbQp42jNUMABCQwVDEz1LExMFQ1MjEz0zheRc
			rkIuIz0TsCSMBgsaQtVDBfTdcg0VXPK5AoEQABv8DpsKZW5kc3Ry
			ZWFtCmVuZG9iagoxMCAwIG9iago8PAovVHlwZSAvWE9iamVjdAov
			U3VidHlwZSAvRm9ybQovQkJveCBbIDAgMCA4IDZdCi9Gb3JtVHlw
			ZSAxCi9NYXRyaXggWyAxIDAgMCAxIDAgMF0KL1Jlc291cmNlcyAx
			MSAwIFIKL0xlbmd0aCA0NgovRmlsdGVyIC9GbGF0ZURlY29kZQo+
			PgpzdHJlYW0KeNor5DJUMABCQwVdYwNDPUtLSwVdM2MTIMNCITmX
			S98z11DBJZ8rkAsAp1IIYgplbmRzdHJlYW0KZW5kb2JqCjEyIDAg
			b2JqCjw8Ci9UeXBlIC9YT2JqZWN0Ci9TdWJ0eXBlIC9Gb3JtCi9G
			b3JtVHlwZSAxCi9QVEVYLkZpbGVOYW1lICguL2xhdGV4aXQtMS5w
			ZGYpCi9QVEVYLlBhZ2VOdW1iZXIgMQovUFRFWC5JbmZvRGljdCAx
			MyAwIFIKL0JCb3ggWyAwIDAgNjEyIDc5Ml0KL1Jlc291cmNlcyA8
			PAovRm9udCA8PAovRjExIDE0IDAgUgo+PgovUHJvY1NldCBbL1BE
			Ri9UZXh0XQo+PgovTGVuZ3RoIDY5Ci9GaWx0ZXIgL0ZsYXRlRGVj
			b2RlCj4+CnN0cmVhbQp42jNQSFcwUHDnMoDSTiFc+m6GhgqWepZm
			RmYKIWkKxgaGepZGJgpmxqZ6xoYWCiEpCtEa5ZqxIV5wTTDaNYQL
			AI64EFwKZW5kc3RyZWFtCmVuZG9iagoxOSAwIG9iago8PAovTGVu
			Z3RoMSAxMzk0Ci9MZW5ndGgyIDYwODQKL0xlbmd0aDMgMAovTGVu
			Z3RoIDcwMzkKL0ZpbHRlciAvRmxhdGVEZWNvZGUKPj4Kc3RyZWFt
			CnjajXcHVJPrsjbSpClFRKoEBTadhCa99yoQQASEJAQIhCQkoYUi
			SG9K7026Su8gAkoVEKUIilQpUlSUXgRuLPucs8//r3XvylrJOzPP
			tHee+dYXPp6b5qJqjmgoXBuNwouCxIDyAA0jIz0QEAAESooBgRI0
			fHxgBB4J/1tPw2cJx+IQaJT8fyA0sHAInqjThOCJQCM0CqDviQSA
			JAEgGXnQDXkgECABBMr9DURj5QGaEC+EI8BIDKCPRsFxNHwaaIwv
			FuHsgifm+fsIEIAJAkBycjdEfrkD1NzhWAQMggIYQfAucHdiRhgE
			CTBHwxBwvO8/QggouuDxGHlxcW9vbzGIO04MjXVWFhQBeCPwLgAz
			OA6O9YI7An62DDCGuMP/tCZGwwcAuyBwvw3maCe8NwQLBxAVSAQM
			jsIRXTxRjnAsgJgdYK5nCDDBwFG/wYa/ASKAP5cDAImB/hXuj/fP
			QAjUL2cIDIZ2x0BQvgiUM8AJgYQDTLQNxfA+eBEABOX4EwhB4tBE
			f4gXBIGEQImAX6VDANpqpgAIscM//eFgWAQGjxPDIZA/exT/GYZ4
			zVooRw20uzschcfR/KxPE4GFw4j37iv+Z7huKLQ3yu9vyQmBcnT6
			2YajJ0bcAoXw8ITraf7BEFU0/9Y5w/EAaaDsDUlZaQDcAwD3gbmI
			/0wA9sXAfxlBP9XEHgL8MGgMwInYBjwA4QQn/tD44SBecAAe6wkP
			8PtPwz8lGhAI4IiA4QFQuDMCRfPv6EQ13Om3TJw/FuEDsAES6QcC
			AH9+/nWyIzLMEY1C+v4b/mvE4kZaYAMTLeE/Lf/LqK6O9gH4iUpK
			AEQlpIEAEFBKFnCDeAj4Z5ybEMSfOv7DVw/lhAb8DPazXuJF/V2z
			1x8SCPzZEEHAP4MZo4nUhQME/s10W6A0EEb8Av2f+f7L5f9H859R
			/lem/3dF2p5I5C+7wG/A/2OHuCOQvn8QROp64olrYIQmLgPqv6FW
			8N+7awR3RHi6/7dVDw8hroMayplIaVGQlBhQ6rcegdNG+MAdbyLw
			MJfftPmtt/i5cEgECn4TjUP8fMQQvYDA/7IRtwzmRnyM4Ijc/G2C
			4Igrh/81yJ8ynLhU/6xDCwVDO/7cPglpGQAEi4X40hCHT5SkAX4g
			4po6wn1+sRsgLoZC44kuAGLPAQAnNJbm56BBIDmAuPdPHc0/4sI8
			sVhi4l+EICb9W/614nC4DxxG834CDVMIda0NbTuoVuPwFl0eVqTY
			TD+4JSE6XHSHCt+jNWq/kGiekz1l8Fj7fTdI+45rh7G6x0Hu7OS2
			31Idd72v1J4ot/aqMzc0fuJs79x4kt8+57UJ+maSh1ap6lflS7E9
			JDe5Yhg6qVUcnXvM+ej9/6rtepfkzc9cpn1DP6zNuL2zuizbkIVT
			zvLzRzN8C7QfvCy9w/pX3kf3ByGLsbZRacaZ1wwU2w9pEr2rGOb7
			BvqnGbu5nscE63vdW/7GG45n1FLo59SUOl9lOV1w8UdeqddGJpMf
			VOeS6oZjz5M5wdSDWuMtl6WtDTsegeTOGy4OyU6xoM+EQy5GzDSz
			ejo2v3Al2vFDbgQ3WVOfctI+zrIrA6H7YrbiI5ebfkSYge/UeNfI
			/A9PgzQ9m9e9oQIiRolKp+VLnwMa+J7FeTmFk7b+VZ3KuKQlzJIt
			uB7gFFLQy4vMmd4TCBu3krCRTXdpAyuXTMuFtgbdYpSUvOCFSK+0
			uCje8KnvfLH1nh9B6rRgu71dnX/KoyoGFccUS5ivm/bPLHp4tAkS
			f1kPy6iJ1SB4uy/s+Vf5LNgZ9rmjiwMqCG3u0l/mJxnvx6LlAdy5
			j9Y7okPjWMVao65VfFjsjty9Wk4a70hSZpz/5GgnmOVVL7qNRJLG
			qyw49miDcLJBmgkwpsHUEyge37ysYDna4SzTV9BDS6r8XuTsu3Jr
			mkmQvpS7GnDoxEyycaJFiLnfr124gKV1iUmOcSEM4bn82ih5yUSV
			3iVA9NIHgfsX7jGb9oesJT6IbVOb32nJixEcq+EY/0LXVqYUTCUm
			9+hT9saOpDMH+3a20kVum3Z77jPoGdr+8jd1TsuiuaPee4PnG7es
			rnF/YSNdaszJejEP2VpD39bGmSQIhiYX8W06Smy1eMcaP60Y01Xe
			1QzY/Ub1ISehxzrlYtuX+hqQ6+3KEOeyi5QdIGh7S7b+Y4i/Q7tL
			XCn0ruBzb+uQTZgNP9A1+VvtLZIbvgfONJfSXdjMm8IK+CnuBjBh
			TkVH150m7gAgxxP2ND0cSCmC5dr2Kspse76Dyz4OrlpVJ0RK8E9N
			SLFCiDXJDQne78vIUg83vz+Hk3z94IFbvsidWGhi5jfCYAsVhHYw
			TMpenXJx/RIF0/Rx7/ARaFN4ZIpx7Bz9Z6uGWokBDDpb8zj7SRRZ
			u4/ygNOkbt2RDbcdWGvvuWumWX90oLjwMe3SEss6IDOdYQYpu0S4
			NZ2Iqd3Jy8rR5bHcnw52bORpDFJwlCooBBfTv5eWF1k88mK+DjN4
			IDQ9oSBMeH35/K3YKibCBTfAlSLTsTnvHmWIRy9UZhkUp3fUMmzA
			wB+mAn/zdj9BKXLdqaVR8ZurwY/7Y7xuzci9WT77HXdeO4YMuUXR
			7pD85StuEMPBu+zTh+ng1zdBfm+CL7Ezo/Kj7r/N1Z7yg4KfDbU5
			UYZ//JJf4RdlOLrBH9nZSTNwK0ducaBk/mj/a8OcskrwpamlenD+
			u370VzPvzLEFeZqIq1nwlk0a8S3qqNZVLs7nrCy+x1+aLwaE5kfg
			V6ZuFYS0XrsRtOWBD513OgroZFoZSRasDpclNzcbu5Xie4VJMRtX
			L+GaYnKnbSGklYGvk+6BRU5r2Lyf8niceH551SMNd/TcMnCYrzzg
			IebDFcdPfi4sUsrRTNHn73hrlnxThZvuOF7sJluHIBytR+7Mq3Y0
			qFBh6BCSCpy1weo9LWpc8OPjq307u3RkI9cqDGBrK/Y0NDvKP17+
			AKNHlIqEOC81vxw88i0Ken8dc4mSN8NimBNSElQblCNtKnFbUp41
			p4mjX9FaZ8QPdHAGs9RjqyaTEbDHGl07iMKHOQYFhcw8Nt4Il7CD
			ISALe1LbZ0qbXK+wGU+9fD9UudwReq5r8L7G33bnnXWU96UGdqON
			QkkRoYbuaC/pALHHxXIlV6rzrslA2uoZL8Kt1zID4slkHkkEGIQA
			v9pbVrMMP409/2FIvFSmM3AwCrjlpp4Y2XuK/KrsnTh7a13xo651
			XHUvuY8X07NLAUFL2qK8WdeyoMw8Ag0EN01TMyheoa7v4pprUXN3
			jhvtkjHbnlTFGKXUYcbOXN30mauaUJaD82iE6eOaWmqBkk8Kg8HV
			phcsuEM1MNDVV6oKB10aJHLwNX5tG4EYmoIfYYfxhyUqw6xxWJLo
			L+ltrfY7lWHnGUedTKisZt+QLpbllXkeAmf2E+LcxBMr+aukd+le
			jpYdNrx9Rx1cIzpnaG15+zH0s9StXJshoOeQK4uy1rhbbVAtz62e
			TsP49saDh30JFmnVe1mLAKMI5BFYl7MfNXrqm9UNt+jtPfuBC1Mj
			n86ORodJcg/723EDquwyllY4CC3BM8aV/CnsyTpvLUCqDeFi4nKk
			Cn0jeufWX2sTknlL2oMs3okbkJIhJ51kfDzm87mofWlqvQNq7unq
			itcJ8R19gKa4JVX9sK7xRfu8aXSt/JrmU1hr/iydzNa3QRB1RaU1
			13L1nn4j29VDSmHufg43SFi+DQthesgpvSaIKW3SSU9oxsaJTYnU
			iIlFckyQr+37o0qGJI/HlY0mAhQdtqK3eWLZruZu6HfR6ApyYk33
			4hu4TKX3Cu+CWaGGAeLKw9JuTJ9Z95VMvQtMTm+wSP+IvM4hnzIp
			UmBhz2J4UyWhoW/girFG5Yq50d5bxObbC1PKKRcZe1/vRy7TLX+X
			FJp0vW7VlaO5Lrsaw7s15r+Vy9OkHT03MBTdfMq+NmWYpGB/l8bR
			NFVfj7exNbXLul/gHSuLu5nH6qX9Qn0b1sRApwkGMjmR1CcydR+v
			2IOOCscCvQG0TzcecZqLUKiAHqiEUNFuT6iN98z5IgXuLRqea3mN
			f5rPTbZpEc/09fMqdSfbE3fVUSGW43gws1z8B60W0mIrE2fRqdSJ
			57H01bprmBXWixBdyqvXqGwJRScvGMRHx66GarlaUvjlgKK2QUMh
			4JoUS8OTUWlfKwN/QtDo9mLaN/+pRvz5Ild1x7UwS6VKwnvJqU7w
			hH5g24pNbXvD6VtJhxOv/FMMChtiQWdkafU4a0/s0yVrUfxqRvpa
			dUWtBCHn7feE0GKSCBpFcxk8qAHZPePwFJq5Ek2S10qit8EywmUv
			mHM7Y3vcHs6gddEcf6HYAib9+ZXGgmrMPXSPNEOfj6Hmqw619OjG
			uyc9xiVcb8yoAIYxX7Kden1WJDQFUu8NofJrpyayPyCm4x6/HnkU
			i7vQ9b4tLuTjkRh2lqqa7Oq2ls0jUbLyk6bPuxdXQ8qCCc9Slx9g
			Kyno1+dHeYvVH9MakopHx3+Sb1Zn2QVMzE7yB+lw5I4OgzxlgHY4
			h2CaxJ0U/8zWJIEaFqm8uVKBtW/qtSeijG5tT1tye1Pdihd2jp8a
			XK10j5lRnbUvUvtrZbLzdutYJxOVCK8ZnNp9XNOGrCKuMw4TOPit
			8lsULeWt6SS1E1l3NcL73U/Z5I7txgrXljICWSlHEsvaMXNte2mX
			m9k0dEouBiUZv8mrvt89568AMDj/VYahU21uf7zPwWGp3VVenJb0
			CsntugdBZ6cWJXxCRzIctu+2G9VXFpKmEhQH1pdvxvJiyFwrgjp7
			17y78GHCiLJZRGWR/uPx3KYf44BnFsU9g99wq9atOa5hAQU0ti/w
			uhrr5zcHDq9miNNoLiwDng5Q+yHg3Yt0GWTlig+rONrXX5/4vxDz
			S4NVRyAPgPcLIwVKWabualClC399xdnM+f528ymGF8D/nQFSSl/P
			q/U4UVs3zp1EcO7KbJEkRTl+zmwZkYXkBfL5uPGcaGTIB8mtfbIf
			Fn0a4BZoOKL66Uv5iwuDOkrdd564vFsXdKvKakFQy0LHEg5UcXeu
			HPjonIklhFPRb7Ca7Idn3o756lq1qM0Mnm57c0GEF7IZwm72ofoI
			55RcX1j0ztY9COYGQtcIr9ylihhamSMPeq61HgHdjBHRqPTY7uIP
			P7l1aUOvMKt3PJ0c+8z2Q+OLey/PPh6bwdEOXokLrVjHKxiVz6/H
			K6uynd5qDF+mrHk00WJFsYcJH992oywIGe5Xy+dmEHhvZ7TENslI
			T83AvDcdfye4YuStSUoNcub1G18lzp2yOwRprdhgNgLv6b1B2JdZ
			4KCbeTTmwTO1b6QupVgcbdizSAcK/VdJp24xbS1DOlou4/yrKpdD
			wgCFl+YrORxSchZV5WJ40tG2qoZJEHCanRme9jM9oaPqL3ah5/sW
			CuGiWiPsy2FJ6Kdg6MeZDumlqqaOH88kktuVn3w28PGQ7Cqef2mP
			L+WqyFqLf+M/YjXJFwksHFJa0UpQrWpNFtuUuDOPrSuWzxPg0lUu
			h69O3RyaqRtXqNp/1zf5MDTA3Sp7TfR7g9GC2jAB54CDBsTnxr4/
			6cI1qzLbJ+HaxEnTche1IztC6U0StV48SUN+jZl1sdVxgJ7bg1yV
			Lcps4hWY3eq/YyF5qcojs358d3NxW4Pi2pMzr46Y5l3XU0aSOJX0
			vKPpQTWusaYVabEynHy7XR+Hgq5EZdizWhVkR30tjJlp6ZTkZvH+
			Dg+cqvDDuigedP+dOLt4XwJUMTwlafrE7Vh82W+Ocm0kGZ01nH8p
			9MGrXrLFz8WyOnyMUZjhtpcbvU1G3+XHUo5QJy94YeZBGxzSPI8T
			c1uBKdEfp1TDeFIbA5c0qceuyyrQ3X24VX+2jSPnyruzXq3krPGt
			IKE+eEblcHVjknBeIc7eLqkNG0j8r6ebVBUljv9B27W9KqPx6IaO
			8/2W9MOXHPL0h+pKcry757/3bbDyZgk1ySTsHvW7YOl3eUKoueHl
			CquDF4NGrXrEyhwD93VOgVrpC8PUJEWzqqClxuI4H0R1tOVjD7qE
			oeaqJ8kVDBOYT85Fxue8fe3mJmyzp3ESHu5fT1Vyxd4VGzQe7Sn4
			7e6CW6TuMYR35r14UGpcsDnOME/Z7rYx3+047/Ncz0VLqS+kNLLY
			LtEOCwAndgZcaP2qd+/4S5bEDFvl9QvFEeQZp+s9NtTVaTRvE2Ge
			J74tFmbBbvNk8cQ3koaBKI4nr4I7wkP9227dHM+3fNYjsEaYHVl3
			9/N6dr/LGC+UN/Q9E8ZAoplRM8SeSGuvgHcbnxXNylmX4uIrLW2k
			0C473MxgozuY+VLLfo5MzSRPoDIc99Kphk9g+hgzrPlB95oEP0W6
			KCaa1mAzsDoKurgjyaPkqbVtupacRiWwoamoUOda3T3QdDT3Xm/5
			UALHzFXQOHesVu8crpP0yti8LxrWKzH+o3USyyQWPrN4463G/Tsa
			6vkLMavVzEoz2PgRh9Qt5mykR4WAhN1MR4YxnCPHYDUZWMf1WaV0
			FANK3f9Oeycufesi82VGh5uB5mfcSgYzZypahysGHFlZ/HXC21GF
			WFteCWpem8lYcZ8JjGQ7ycZHa4uH5R4hFA1CpA75WMCjfTXaiiQL
			2d6+HnS8EAZHx3l4Qat4D+lWClVFmQpvDymYJcSichOjJHxfh1ex
			hL5vDLj6dNVg7Z2BJTjk+hNZ9oXY3BSMlny790BO7giLFoyJNimv
			q7xLSW93LapUv8/h28vkW4JmPpuziWvxZN0+1NIjYlMuZdepWjV1
			2dbz3gP7SWENgc9bWPSL6RbDmzeDi+U9yFl6+118DWbqT7UVFK3P
			8t6E/Qjs8t960jRHPc54aQcsju04KeGu2lTrhq639RXWHy8hy/mQ
			hB1gJiQQ9ylJ86aGsZSBbePM1oqK1vXvZqjR/ZRr6wtu12fydhJV
			zfOP/PVpBc92dG3JOSiZA0SSR70sVDQVBYMGUzftirJOir6mPP2W
			WP5xdk3nTR/j8yQKkqZMMO+qntHegm8MSaYsi5S4EZd/dVPH9Twl
			Bxn2XgpSigT8hUvDsm4DVxEFq5SK0MOU7LyWczSLeayRwlcVlC5k
			ket8uHuXIMtwwxyL4Q+v5Y1y2116pbpI1VCSHgMxCop8kXqF+fpA
			Ldz/OH0HWvXxagYtHd4wQnakBpg2EOn/emy93eSq4JzHm2UG7RQ8
			dapJHmmhkk9tcWsPRczUhXcl9is9SmdJDCfCaVWjJnLL4WoBQ6wP
			bWkXfO/Qiyj52Mc+f2JB8fRB59xDGROqCFf1qUVZlTCV0E/LmhRP
			40gSOG3u7/hqJr/vOO9uVWJ/PREaAzlL9fcWZNRzmKev6EJAIP6Q
			XtwzUTH9HDDmmmS/mir/iq/qsy8sH8fuiVNShpF2pqLF9x7gR9hp
			fWhTtneFh1iEbjRu6r62PzBV3GEFeeFMglpCwOfqPri9lU5zvIU7
			StW9XxPi6GaFubHs4Ws2qth3dcGHVmlHNNsrkvyHzmvmgGrrlq8E
			WMb4TtVrUUEE6Xd3y4k5gXLDzNRFK+eYR+dOscNK4jX0HfwgbXCA
			lt33NsmHc6XmfJz8Rs2+cYXWGkXJ1NDDxeaSOGFqNe/LBoU0+88A
			nBUJ2dSFWjJLXEgrbIQipdTpgdGAPbsdODIj8K90ryquYxVTXxrX
			+bA3uUULyXef06b7i1bDDBnIQ3fqweSMeV8Jgf2MjKTZZxyGR+zh
			N8aLK3SEb3cO5qnH1sxFd6wrNVMJ8Q8Fg288kQ28GxF/PX10vrcD
			mfJClvtyI3dtz7NmF/3jppLn+ZwFAq5xZ9BlIRYlf3wshwhsNAnI
			1ANENm1W17/CKVq2epOU94FGk/cfcgtxP9BmC9lKEy3r+lB3yHiX
			gJYO6S+eflLnWE7GoHU36XiAv4v53jvK3tKig7uGLWIqwPoZ0beL
			U+YOGnQk9254wMGZRSylitBiWgwGX9s0O1qNB1uZOIRzjn6TEjPx
			4fVJ9PnE+P3+wa1mtvzyQWdZAx1m+6/AOp7gCfQOocQq5NvQIEK+
			j9KqTXiLPM2grq3jxwSY3PvTI5xHBLi83eWeDHZqfcswiV/eyjq6
			uy0jAbDo/LiowdBROTYqgtTgfNYF1WPJt7ZfzY3lZR8WsvzlTL5W
			MkdloTIruDRuBuUbOZ5CxzYFpa8qR8tcWOzuCxRMpzZJpHnyqO+W
			t/Qr8WuDC/5uGWUCcDZecdZZ/SftOrTN80lX+3af53ICjXbR110w
			I+A1vu6t5XOiZvkCysVCw0fUo2Wf+yWkI13aVjdb/fXEpD2fO5je
			LNyfuCfo8P1RmqlpX+OawI/z+1JJ0qwpdXdKQ2ZD7zEbzVWhI7mo
			pHWEHFRemWkblV2Y7wo6fTvkvHh/HdPpNDVHiiI7JWmX7gXRO5YX
			tSR8MejeYLIxpPFt9qCuV+9s5O1S/YstckBmjcdqY55mOP5I63Jj
			r17LpsyByLEe+DlvRNzpsG/W+4ivSed0UzGIlpUzS5hLrh0rkv/D
			3EPtrhn5lhcMJkVrvNf7o6l4NOXLSGIYScL4BEnPM0NYF7OMfJJO
			+vuu2RumHalwvnBkEjqSj5gAbkrY3fAR+NwqhaGtvCnbJsQpRu4l
			zZWLG4Qq7t6vszM0DQduCh00GnxJmRRuUlWGi4lOoR+PPVg91WCr
			ZKMnT33YG4QcYNjsHbENZDMTvszr1YVO1SzOmHIOn6M69Q0+XM9f
			hXBH0n3SNEZhV4U2h/YqCfmVLgch7w9sgvlLevgjOs9Wxn94iFXG
			DBxwdcy8KY640j1cvNGHTLb0kdwF5zym2+MzhBLYKaHmhLF6RbR8
			/FvzZ6jA0CsIb/+bYkZvj2Mua7BDKrL4XyEaJkdrI7zOG/v5bfBN
			idrELuaKpgvntTCJoVU5pzIN71cNB2pGco5hvuAF1fJSt857Njbk
			ZY+qkkqNoXc5yrvL1pkHFwpoqQClQn89s7YadruY5UVfDuVpCyD4
			FDCXqzUOpsfO0XQbXJkMFTlQYveFGuq9/wGjGtqthpB0WnlXVosQ
			8IaWYaL48PmsSaFcWoKSA9MrSOnlnajP0WPXAi3oZD6jUrBn3JNh
			saem1F23JZBVyIDBS/tCjWMDxSXvtu76S2d80IDey+0w3wwFdo1K
			rqp0mHoanaikPeCJMHsDftQxyEOZaRptq/hiKStljLJ7sPZrq1hc
			M43T8fA7T2k2lh/nHnSOkNcX/yXBZx6l5NgI7XsxymudIy3weYyh
			2rxtdPL15RklOsFUPsh3PenbJdZYgMVwMTP194qVKWUT67aLpLM+
			j0gWSZbGLtJFV38ScGesXA9IZOy7dvIU23cOuTCd+ai+wNKntseR
			0bLJqn9MHRjReVuwhqu4jj8aTwU+08Vf+KItZ81lHix3+jI20ZJn
			lX5AscLH/vl469FE/uj/AK6rqkwKZW5kc3RyZWFtCmVuZG9iagoy
			MSAwIG9iago8PAovUHJvZHVjZXIgKHBkZlRlWC0xLjQwLjE1KQov
			Q3JlYXRvciAoVGVYKQovQ3JlYXRpb25EYXRlIChEOjIwMTUwMTMw
			MTMzMzQ5LTA4JzAwJykKL01vZERhdGUgKEQ6MjAxNTAxMzAxMzMz
			NDktMDgnMDAnKQovVHJhcHBlZCAvRmFsc2UKL1BURVguRnVsbGJh
			bm5lciAoVGhpcyBpcyBwZGZUZVgsIFZlcnNpb24gMy4xNDE1OTI2
			NS0yLjYtMS40MC4xNSAoVGVYIExpdmUgMjAxNCkga3BhdGhzZWEg
			dmVyc2lvbiA2LjIuMCkKPj4KZW5kb2JqCjYgMCBvYmoKPDwKL1R5
			cGUgL09ialN0bQovTiAxMwovRmlyc3QgODcKL0xlbmd0aCA1OTEg
			ICAgICAgCi9GaWx0ZXIgL0ZsYXRlRGVjb2RlCj4+CnN0cmVhbQp4
			2s1U207bQBB991fMG0Rt7L34WiEkSGIVQUoEEY0U8rDYS7JtsC2v
			A/TvO2MnTaGV8tKHSpbsnZlz5uIz6wODBOIIOAcpJXAJMhbAfQhF
			DDyAKERjCFGExgiS0AceQxIhBjgT0kEviyQQgZAgGL7DwDk5cbzp
			j0qDN1FL7XiDsmh00VgIMN+N491oW27qTFuQnWGsc6POy1eYMzRw
			ols4CK4RheQUc3ra0k7qMt9kuobjKn+c6lmfuz5zedDDLLVWTYke
			NO+OpiyGqtFwPPwkGA8Yl/hI6cd9Fh8xdoRx4zI/FDKtVVXpHLxU
			rS32M5mOZm66Wa8fVFFQLdOVsYBPV9NHuNO1xdQgXe7zIBFh0Bdu
			uKsV7qlEuDLPGkfG/fsefK9Us7JawfMWGbrCZb1d17Prh286a4C+
			L544cLGbCQ0ku9UNzL3JMF384zGFh8cU/kdj6jSXotoc73bz0LRH
			MnLHS01tm8FK1aitxPGu1O+nryZHXhJ8K0diGGqb1aaiSeECtOZz
			ZTW5SKCtYVRkZW6KJS3F9n/MIeKBmyze1bNn69i/qCf0jEfTy+vR
			h8F4fMEZOtZqacHvIs7bdYC+FNAXAS4F82OIAoZ7cWazdi8CxAxU
			9Vmb5Wp7pDzkIwhKpVFrk50Vy7WGPkfi20Y/3UEkEIe9k2yOvZde
			lzA1GMWTX8J6W9y+nV3TmMw8PmpcUVrkOQ3Se1n8qVjoFEu88Eaw
			QIqFvyJSRIiDiP0VY+mO2dCfcbxLk2M5PqHfRQ4UzqNcOh1kf6/8
			BF++V34KZW5kc3RyZWFtCmVuZG9iagoyMiAwIG9iago8PAovVHlw
			ZSAvWFJlZgovSW5kZXggWzAgMjNdCi9TaXplIDIzCi9XIFsxIDIg
			MV0KL1Jvb3QgMjAgMCBSCi9JbmZvIDIxIDAgUgovSUQgWzxENjQw
			NDYwMjM3REVCREMyNDEyMTdFRUJGMkRCQUE2OT4gPEQ2NDA0NjAy
			MzdERUJEQzI0MTIxN0VFQkYyREJBQTY5Pl0KL0xlbmd0aCA3NiAg
			ICAgICAgCi9GaWx0ZXIgL0ZsYXRlRGVjb2RlCj4+CnN0cmVhbQp4
			2hXJuw2AMBADUPvyARIkViASE7EOS1EwC5NQpAu+4sm2DGCQJ4gL
			hlxEfQNb911lEdJe38ZwewaJkiTLJDNT9G/l/oHHgx9YdAc1CmVu
			ZHN0cmVhbQplbmRvYmoKCm9iago8PAovRW5jb2RpbmcgL01hY1Jv
			bWFuRW5jb2RpbmcKL1ByZWFtYmxlIChFU2Fubm9wRVNzbGFzaGRv
			Y3VtZW50Y2xhc3NbMTBwdF1FU2xlZnRicmFja2FydGljbGVFU3Jp
			Z2h0YnJhY2sKRVNzbGFzaHVzZXBhY2thZ2VbdXNlbmFtZXNdRVNs
			ZWZ0YnJhY2tjb2xvckVTcmlnaHRicmFjayAldXNlZCBmb3IgZm9u
			dCBjb2xvcgpFU3NsYXNodXNlcGFja2FnZUVTbGVmdGJyYWNrYW1z
			c3ltYkVTcmlnaHRicmFjayAlbWF0aHMKRVNzbGFzaHVzZXBhY2th
			Z2VFU2xlZnRicmFja2Ftc21hdGhFU3JpZ2h0YnJhY2sgJW1hdGhz
			CkVTc2xhc2h1c2VwYWNrYWdlW3V0ZjhdRVNsZWZ0YnJhY2tpbnB1
			dGVuY0VTcmlnaHRicmFjayAldXNlZnVsIHRvIHR5cGUgZGlyZWN0
			bHkgZGlhY3JpdGljIGNoYXJhY3RlcnMKRVNhbm5vcGVuZCkKL0Vz
			Y2FwZWRQcmVhbWJsZSAoRVNhbm5vZXAlNUNkb2N1bWVudGNsYXNz
			JTVCMTBwdCU1RCU3QmFydGljbGUlN0QlMEElNUN1c2VwYWNrYWdl
			JTVCdXNlbmFtZXMlNUQlN0Jjb2xvciU3RCUyMCUyNXVzZWQlMjBm
			b3IlMjBmb250JTIwY29sb3IlMEElNUN1c2VwYWNrYWdlJTdCYW1z
			c3ltYiU3RCUyMCUyNW1hdGhzJTBBJTVDdXNlcGFja2FnZSU3QmFt
			c21hdGglN0QlMjAlMjVtYXRocyUwQSU1Q3VzZXBhY2thZ2UlNUJ1
			dGY4JTVEJTdCaW5wdXRlbmMlN0QlMjAlMjV1c2VmdWwlMjB0byUy
			MHR5cGUlMjBkaXJlY3RseSUyMGRpYWNyaXRpYyUyMGNoYXJhY3Rl
			cnMlMEFFU2Fubm9lcGVuZCkKL1N1YmplY3QgKEVTYW5ub3R3RVNh
			bm5vdGVuZCkKL0VzY2FwZWRTdWJqZWN0IChFU2Fubm9lc3dFU2Fu
			bm9lc2VuZCkKL1R5cGUgKEVFdHlwZTRFRXR5cGVlbmQpCi9Db2xv
			ciAoRUVjb2wwLjAwMDAwMCAwLjAwMDAwMCAwLjAwMDAwMCAxLjAw
			MDAwMEVFY29sZW5kKQovQktDb2xvciAoRUVia2MxLjAwMDAwMCAx
			LjAwMDAwMCAxLjAwMDAwMCAxLjAwMDAwMEVFYmtjZW5kKQovVGl0
			bGUgKEVFdGl0bGVFRXRpdGxlZW5kKQovTWFnbmlmaWNhdGlvbiAo
			RUVtYWcyNC4wMDAwMDBFRW1hZ2VuZCkKL0Jhc2VsaW5lIChFRWJh
			czAuMDAwMDAwRUViYXNlbmQpCj4+CmVuZG9iagoKb2JqCjw8Ci9F
			bmNvZGluZyAvTWFjUm9tYW5FbmNvZGluZwovUHJlYW1ibGUgKEVT
			YW5ub3BFU3NsYXNoZG9jdW1lbnRjbGFzc1sxMHB0XUVTbGVmdGJy
			YWNrYXJ0aWNsZUVTcmlnaHRicmFjawpFU3NsYXNodXNlcGFja2Fn
			ZVt1c2VuYW1lc11FU2xlZnRicmFja2NvbG9yRVNyaWdodGJyYWNr
			ICV1c2VkIGZvciBmb250IGNvbG9yCkVTc2xhc2h1c2VwYWNrYWdl
			RVNsZWZ0YnJhY2thbXNzeW1iRVNyaWdodGJyYWNrICVtYXRocwpF
			U3NsYXNodXNlcGFja2FnZUVTbGVmdGJyYWNrYW1zbWF0aEVTcmln
			aHRicmFjayAlbWF0aHMKRVNzbGFzaHVzZXBhY2thZ2VbdXRmOF1F
			U2xlZnRicmFja2lucHV0ZW5jRVNyaWdodGJyYWNrICV1c2VmdWwg
			dG8gdHlwZSBkaXJlY3RseSBkaWFjcml0aWMgY2hhcmFjdGVycwpF
			U2Fubm9wZW5kKQovRXNjYXBlZFByZWFtYmxlIChFU2Fubm9lcCU1
			Q2RvY3VtZW50Y2xhc3MlNUIxMHB0JTVEJTdCYXJ0aWNsZSU3RCUw
			QSU1Q3VzZXBhY2thZ2UlNUJ1c2VuYW1lcyU1RCU3QmNvbG9yJTdE
			JTIwJTI1dXNlZCUyMGZvciUyMGZvbnQlMjBjb2xvciUwQSU1Q3Vz
			ZXBhY2thZ2UlN0JhbXNzeW1iJTdEJTIwJTI1bWF0aHMlMEElNUN1
			c2VwYWNrYWdlJTdCYW1zbWF0aCU3RCUyMCUyNW1hdGhzJTBBJTVD
			dXNlcGFja2FnZSU1QnV0ZjglNUQlN0JpbnB1dGVuYyU3RCUyMCUy
			NXVzZWZ1bCUyMHRvJTIwdHlwZSUyMGRpcmVjdGx5JTIwZGlhY3Jp
			dGljJTIwY2hhcmFjdGVycyUwQUVTYW5ub2VwZW5kKQovU3ViamVj
			dCAoRVNhbm5vdHdFU2Fubm90ZW5kKQovRXNjYXBlZFN1YmplY3Qg
			KEVTYW5ub2Vzd0VTYW5ub2VzZW5kKQovVHlwZSAoRUV0eXBlNEVF
			dHlwZWVuZCkKL0NvbG9yIChFRWNvbDAuMDAwMDAwIDAuMDAwMDAw
			IDAuMDAwMDAwIDEuMDAwMDAwRUVjb2xlbmQpCi9CS0NvbG9yIChF
			RWJrYzEuMDAwMDAwIDEuMDAwMDAwIDEuMDAwMDAwIDEuMDAwMDAw
			RUVia2NlbmQpCi9UaXRsZSAoRUV0aXRsZUVFdGl0bGVlbmQpCi9N
			YWduaWZpY2F0aW9uIChFRW1hZzI0LjAwMDAwMEVFbWFnZW5kKQov
			QmFzZWxpbmUgKEVFYmFzMC4wMDAwMDBFRWJhc2VuZCkKPj4KZW5k
			b2JqCgpvYmoKPDwKL0VuY29kaW5nIC9NYWNSb21hbkVuY29kaW5n
			Ci9QcmVhbWJsZSAoRVNhbm5vcEVTc2xhc2hkb2N1bWVudGNsYXNz
			WzEwcHRdRVNsZWZ0YnJhY2thcnRpY2xlRVNyaWdodGJyYWNrCkVT
			c2xhc2h1c2VwYWNrYWdlW3VzZW5hbWVzXUVTbGVmdGJyYWNrY29s
			b3JFU3JpZ2h0YnJhY2sgJXVzZWQgZm9yIGZvbnQgY29sb3IKRVNz
			bGFzaHVzZXBhY2thZ2VFU2xlZnRicmFja2Ftc3N5bWJFU3JpZ2h0
			YnJhY2sgJW1hdGhzCkVTc2xhc2h1c2VwYWNrYWdlRVNsZWZ0YnJh
			Y2thbXNtYXRoRVNyaWdodGJyYWNrICVtYXRocwpFU3NsYXNodXNl
			cGFja2FnZVt1dGY4XUVTbGVmdGJyYWNraW5wdXRlbmNFU3JpZ2h0
			YnJhY2sgJXVzZWZ1bCB0byB0eXBlIGRpcmVjdGx5IGRpYWNyaXRp
			YyBjaGFyYWN0ZXJzCkVTYW5ub3BlbmQpCi9Fc2NhcGVkUHJlYW1i
			bGUgKEVTYW5ub2VwJTVDZG9jdW1lbnRjbGFzcyU1QjEwcHQlNUQl
			N0JhcnRpY2xlJTdEJTBBJTVDdXNlcGFja2FnZSU1QnVzZW5hbWVz
			JTVEJTdCY29sb3IlN0QlMjAlMjV1c2VkJTIwZm9yJTIwZm9udCUy
			MGNvbG9yJTBBJTVDdXNlcGFja2FnZSU3QmFtc3N5bWIlN0QlMjAl
			MjVtYXRocyUwQSU1Q3VzZXBhY2thZ2UlN0JhbXNtYXRoJTdEJTIw
			JTI1bWF0aHMlMEElNUN1c2VwYWNrYWdlJTVCdXRmOCU1RCU3Qmlu
			cHV0ZW5jJTdEJTIwJTI1dXNlZnVsJTIwdG8lMjB0eXBlJTIwZGly
			ZWN0bHklMjBkaWFjcml0aWMlMjBjaGFyYWN0ZXJzJTBBRVNhbm5v
			ZXBlbmQpCi9TdWJqZWN0IChFU2Fubm90d0VTYW5ub3RlbmQpCi9F
			c2NhcGVkU3ViamVjdCAoRVNhbm5vZXN3RVNhbm5vZXNlbmQpCi9U
			eXBlIChFRXR5cGU0RUV0eXBlZW5kKQovQ29sb3IgKEVFY29sMC4w
			MDAwMDAgMC4wMDAwMDAgMC4wMDAwMDAgMS4wMDAwMDBFRWNvbGVu
			ZCkKL0JLQ29sb3IgKEVFYmtjMS4wMDAwMDAgMS4wMDAwMDAgMS4w
			MDAwMDAgMS4wMDAwMDBFRWJrY2VuZCkKL1RpdGxlIChFRXRpdGxl
			RUV0aXRsZWVuZCkKL01hZ25pZmljYXRpb24gKEVFbWFnMjQuMDAw
			MDAwRUVtYWdlbmQpCi9CYXNlbGluZSAoRUViYXMwLjAwMDAwMEVF
			YmFzZW5kKQo+PgplbmRvYmoKc3RhcnR4cmVmCjkzOTYKJSVFT0aA
			BdIsLS4vWiRjbGFzc25hbWVYJGNsYXNzZXNdTlNNdXRhYmxlRGF0
			YaMuMDFWTlNEYXRhWE5TT2JqZWN00zMKNDU2N1hOU1N0cmluZ1xO
			U0F0dHJpYnV0ZXOAB4AOgAhfENJcZG9jdW1lbnRjbGFzc1sxMHB0
			XXthcnRpY2xlfQpcdXNlcGFja2FnZVt1c2VuYW1lc117Y29sb3J9
			ICV1c2VkIGZvciBmb250IGNvbG9yClx1c2VwYWNrYWdle2Ftc3N5
			bWJ9ICVtYXRocwpcdXNlcGFja2FnZXthbXNtYXRofSAlbWF0aHMK
			XHVzZXBhY2thZ2VbdXRmOF17aW5wdXRlbmN9ICV1c2VmdWwgdG8g
			dHlwZSBkaXJlY3RseSBkaWFjcml0aWMgY2hhcmFjdGVycwrTOgkK
			Oz0/V05TLmtleXOhPIAJoT6ACoANVk5TRm9udNRCQ0QKRUZHSFZO
			U1NpemVYTlNmRmxhZ3NWTlNOYW1lI0AoAAAAAAAAEBCAC4AMVk1v
			bmFjb9IsLUtMVk5TRm9udKJLMdIsLU5PXE5TRGljdGlvbmFyeaJO
			MdIsLVFSXxASTlNBdHRyaWJ1dGVkU3RyaW5nolMxXxASTlNBdHRy
			aWJ1dGVkU3RyaW5n0zMKNFU2N4AQgA6ACFF301pbClxdXlVOU1JH
			QlxOU0NvbG9yU3BhY2VGMCAwIDAAEAGAEtIsLWBhV05TQ29sb3Ki
			YDHSYwpkZVdOUy50aW1lI0G6fDA+9JQtgBTSLC1naFZOU0RhdGWi
			ZzHSCmprbFlOUy5zdHJpbmeAFlDSLC1ub18QD05TTXV0YWJsZVN0
			cmluZ6NucDFYTlNTdHJpbmfSLC1yc18QD0xhdGV4aXRFcXVhdGlv
			bqN0dTFfEA9MYXRleGl0RXF1YXRpb25fEA9OU01hbmFnZWRPYmpl
			Y3TSLC13eFdOU0FycmF5oncxXxAPTlNLZXllZEFyY2hpdmVy0Xt8
			VHJvb3SAAQAIABEAGgAjAC0AMgA3AFMAWQBeAGkAcAByAHQAdgCP
			AJcAogCsALUAvgDGANgA3gDjAOkA7gDwAPIA+wEEAQYBCAEKAQwB
			DgEQARIBFAEaAR8BJzOkM6YzqzO2M78zzTPRM9gz4TPoM/Ez/jQA
			NAI0BDTZNOA06DTqNOw07jTwNPI0+TUCNQk1EjUZNSI1JDUmNSg1
			LzU0NTs1PjVDNVA1UzVYNW01cDWFNYw1jjWQNZI1lDWbNaE1rjW1
			Nbc1uTW+NcY1yTXONdY13zXhNeY17TXwNfU1/zYBNgI2BzYZNh02
			JjYrNj02QTZTNmU2ajZyNnU2hzaKNo8AAAAAAAACAQAAAAAAAAB9
			AAAAAAAAAAAAAAAAAAA2kQ==
			</data>
			<key>bundleId</key>
			<string>fr.chachatelier.pierre.LaTeXiT</string>
			<key>refresh</key>
			<real>0.0</real>
			<key>serverAppName</key>
			<string>LaTeXiT</string>
			<key>serverName</key>
			<string>LaTeXiT</string>
			<key>version</key>
			<string>A</string>
		</dict>
	</array>
	<key>ImageList</key>
	<array>
		<string>image2.pdf</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2015-02-09 02:16:19 +0000</string>
	<key>Modifier</key>
	<string>Sanjoy Dasgupta</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{612, 792}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>NO</string>
	<key>SmartDistanceGuidesActive</key>
	<string>NO</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>1</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{36, 0}, {1084, 878}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{-28, 85.666666666666671}, {632.66666666666663, 492.66666666666669}}</string>
		<key>Zoom</key>
		<real>1.5</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1.5</real>
				<real>2</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
